
Pygments
SentencePiece
accelerate
attrdict
colorama
einops
gradio
gradio-client
markdown
mdtex2html
numpy
pydantic
pypinyin
python-dotenv
sentencepiece
tiktoken
timm
tqdm
transformers
tuna
uvicorn
wikipedia
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
# git clone https://github.com/deepseek-ai/DeepSeek-VL && cd DeepSeek-VL && pip install -e . && cd .. && rmdir /Q /S DeepSeek-VL
